* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0;
    justify-content: center;
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

input, button {
    padding: 8px;
}

form {
    text-align: center;
    padding: 24px 0;
}

form button {
    background-color: #7aa;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

li {
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: line-through;
}